main {
  width: 100%;
  height: calc(100vh - 76px);
  padding: 40px 60px;
  display: flex;
  justify-content: center;

  .startQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

    article {
      display: flex;
      column-gap: 26px;
    }
  }
}
